.landingImg {
	position: absolute;
	width: 50%;
	height: auto;
	border-radius: 20% 20%;
	border-right: none;
	top: 0;
	right: 25%;
	filter: opacity(0.3);
	rotate: 75deg;
}

.section {
	display: flex;
	width: 60%;
	margin: auto;
	z-index: 2;
	flex-direction: column;
}

.section p:first-child {
	max-width: 20%;
	margin-top: 20%;
	font-size: 24px;
	line-height: 2.1rem;
	letter-spacing: 1px;
	color: white;
	margin-bottom: 0;
}
.section p:last-of-type {
	margin-top: 0;
	font-size: 24px;
	line-height: 2.1rem;
	letter-spacing: 1px;
	color: white;
}

.section p:first-child::first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

.btnRow {
	display: flex;
	justify-content: right;
	margin-right: 4%;
	width: fit-content;
	margin-top: 30px;
	background-color: transparent;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btnRow button {
	margin: 0;
	cursor: pointer;
	padding: 10px;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 24px;
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.btnRow button:first-child {
	margin: 0;
	cursor: pointer;
	padding: 10px;
	background-color: white;
	color: black;

	font-size: 24px;
	text-transform: uppercase;
}
.btnRow p {
	font-size: 30px;
	font-weight: 100;
}

/* 
============== 1200 ========== */

@media (max-width: 1200px) {
	.section p:first-child {
		line-height: 1.3rem;
		font-size: 16px;
	}
	.section p:last-of-type {
		line-height: 1.3rem;
		font-size: 16px;
	}

	.section p:first-child::first-letter {
		float: left;
		font-size: 40px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
	.btnRow button {
		font-size: 14px;
	}

	.btnRow button:first-child {
		font-size: 14px;
	}
}

/* 
========= 850 ======= */

@media (max-width: 760px) {
	.section p:first-child {
		line-height: 1.3rem;
		font-size: 14px;
		max-width: 40%;
		margin-top: 10%;
	}
	.section p:last-of-type {
		line-height: 1.3rem;
		font-size: 12px;
		max-width: 80%;
	}
	.section p:first-child::first-letter {
		float: left;
		font-size: 40px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
	.btnRow button {
		font-size: 12px;
	}

	.btnRow button:first-child {
		font-size: 12px;
	}
}

/* 
========= 960 ======= */

@media (max-width: 960px) {
	.section p:first-child {
		line-height: 1.3rem;
		font-size: 12px;
	}

	.section p:first-child::first-letter {
		float: left;
		font-size: 40px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
}

@media (max-width: 650px) {
	.landingImg {
		top: 30%;
	}
	.pBox {
		max-height: 400px;
		border: none;
		border-radius: 50px 50px;
		border-left: none;
		display: flex;
	}
	.section p {
		margin: auto;
		max-width: 100%;
		margin-left: 5px;
		margin-top: 15px;
	}
	.btnRow {
		margin: auto;
		margin-right: 20px;
		width: auto;
		margin-top: 20px;
	}

	.btnRow button {
		font-size: 10px;
	}
}
