@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html,
body,
#root {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: 'Bebas Neue';
	max-width: 1400px;
}
